*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #bf2e34;
    --secondary-color: #753682;
    --black-color: #000;
    --white-color: #fff;
}

body{
    height: 100vh;
    background-image: linear-gradient(
    to right bottom,
    var(--primary-color), 
    var(--secondary-color)
    );
    font-family: sans-serif;
}

.container{
    height: 95vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
 
}


.player{
    width: 50%;
    height: 100%;
    float: left;
    padding: 70px 100px;
}

.name{
    font-size: 45px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

.score{
    font-size: 70px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 40px;
}

.current-box{
    background-color: var(--primary-color);
    width: 200px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.8;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 120px;
}

.current{
    font-size: 40px;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    outline: none;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: all 0.5;
}

.btn:active{
    transform: translateX(-50%) scale(0.95);
}

.dice{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 180px; 
    width: 100px;
    box-shadow: 0 20px 30px rgba(0, 0,0, 0.2);
    display: none;
}

.btn-new{
    top: 50px;
}

.btn-hold{
    top: 500px;
}

.btn-roll{
    top: 430px;

}

.active-player{
    background-color: rgba(255, 255,255, 0.8);
}

.winner{
    background-color: gold;
}